{{define "Content"}}{{with .Course}}
<div class="ui basic segment" style="padding-top: 0;">
  <div class="ui center aligned grid">
    <div class="row">
      <div class="column">
        <img src="{{.Photo}}" class="ui centered big image">
      </div>
    </div>
    <div class="row" style="padding-top: 0;">
      <div class="column">
        <h1>{{.Title}}</h1>
      </div>
    </div>
    <div class="two column middle aligned row">
      <div class="right aligned column" style="padding-right: 2px;">
        <span>
          {{template "AvatarMini" .OwnerUser.Photo}}
        </span>
      </div>
      <div class="left aligned column" style="padding-left: 2px;">
        <span>
          <h3>{{.OwnerUser.Name}}</h3>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="ui segment">
  <div class="ui stackable equal width grid">
    <div class="row">
      <div class="center aligned column">
        <h2>{{if le .Price 0.0}}FREE{{else}}฿ {{.Price | money}}{{end}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <div class="ui blue button" style="width: 200px;">Enroll</div>
        <div class="ui blue disabled button">Wait for Approve</div>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <div class="ui red disabled button">Sign In to Enroll</div>
      </div>
    </div>
  </div>
</div>
{{with .Video}}
<div class="ui segment">
  <div id="course-header-video" class="ui embed" data-source="youtube" data-id="{{.}}"></div>
</div>
{{end}}
<div class="ui segment">
  <h4 class="ui header">Course Detail</h4>
  <span>Start: {{.Start | date}}</span>
  <div class="ui divider"></div>
  <div class="description">{{.Description | html}}</div>
</div>
{{with .Contents}}
<div class="ui segment">
  <h4 class="ui header">Course Content</h4>
  <div class="ui styled fluid accordion" id="course-content-accordion">
    {{range $i, $v := .}}
      <div class="title">
        <i class="dropdown icon"></i>
        Section {{add $i 1}} : {{$v.Title}}
      </div>
      <div class="content">
        <p class="description">{{$v.Description | html}}</p>
        {{with $v.Video}}
          <div class="video">
            <div class="ui embed" data-source="youtube" data-id="{{.}}"></div>
          </div>
        {{end}}
      </div>
    {{end}}
  </div>
</div>
{{end}}
{{end}}{{end}}

{{define "Course-Script"}}
<script>
  $(function () {
    $('#course-header-video').embed()
    $('#course-content-accordion').accordion({
      onOpening: function () {
        var video = $(this).find('.video > .ui.embed')
        if (!video.hasClass('active')) {
          video.embed()
        }
      }
    })
  })
</script>
{{end}}