{{define "ROOT"}}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/static/acourse-120.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#336b87">
    <meta name="msapplication-navbutton-color" content="#336b87">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="fb:app_id" content="1369680239711962">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Acourse">
    {{template "Head" $}}
    <!--<title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <meta property="og:url" content="{{ .URL }}">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:image" content="{{ .Image }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="700">-->
    {{template "Analytics" $}}
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/reset.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/site.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/accordion.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/breadcrumb.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/button.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/card.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/checkbox.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/comment.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/container.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/dimmer.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/divider.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/dropdown.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/embed.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/form.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/grid.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/header.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/icon.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/image.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/input.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/item.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/list.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/menu.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/message.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/modal.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/segment.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/transition.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/progress.min.css">
    <link rel="stylesheet" href="/-/semantic-2.2.7/components/table.min.css">
    <link rel="stylesheet" href="/-/site.css">
  </head>
  <body>
    <div class="ui basic segment" id="app">
      <div class="ui container">
        {{template "Navbar" $}}
        <div id="view">
          {{template "Body" $}}
        </div>
      </div>
    </div>
    <script src="/-/jquery-3.1.1.min.js"></script>
    <script src="/-/semantic-2.2.7/components/accordion.min.js"></script>
    <script src="/-/semantic-2.2.7/components/checkbox.min.js"></script>
    <script src="/-/semantic-2.2.7/components/dimmer.min.js"></script>
    <script src="/-/semantic-2.2.7/components/dropdown.min.js"></script>
    <script src="/-/semantic-2.2.7/components/embed.min.js"></script>
    <script src="/-/semantic-2.2.7/components/modal.min.js"></script>
    <script src="/-/semantic-2.2.7/components/transition.min.js"></script>
    <script src="/-/semantic-2.2.7/components/progress.min.js"></script>
    {{template "Semantic" $}}
    {{template "Script" $}}
  </body>
</html>
{{end}}
